body {
    font-size: 16px;
    line-height: 1;
    font-family: "Roboto", sans-serif;
    background-color: wheat;
    color: #001b44;
  }
.header {
    text-align: center;
    background-color:rgb(13, 39, 25);
    color: whitesmoke;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid rgb(7, 0, 0);
    justify-content: center;
    align-items:center;
  }
h3 {
    padding-top: 5px;
}

aside {
    width: 25%;
    border: 1px solid rgb(7, 0, 0);
    /* display: inline-block; */
    text-align: center;
    margin: 10px;
    float: left;
    border-radius: 5px;
}

input {
    /* justify-content: center;
    align-items:center; */
    left: -20px;
    width: 70%;
    height: 35px;
}

.searchBtn {
    border-left: 1px solid black;
    border-radius: 15px;
    background-color: #e7dcdc;
    color: white;
    height: 30px;
    width: fit-content;
  }

.yourSearches {
    border: 1px solid rgb(7, 0, 0);
    width: 80%;
    height: 40px;
    margin: 0 auto;
    text-align: left;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: large;
    font-weight: bold;
    background-color:rgb(245, 179, 179);
    border-radius: 15px;
}
  
.stockIngredients {
    border: 1px solid rgb(7, 0, 0);
    width: 80%;
    height: 40px;
    margin: 0 auto;
    text-align: left;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: large;
    font-weight: bold;
    background-color: rgb(13, 39, 25);
    color: whitesmoke;
    border-radius: 15px;
}

.clearBtn {
    border: 1px solid rgb(7, 0, 0);
    width: 80%;
    height: 40px;
    margin: 0 auto;
    text-align: left;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: large;
    font-weight: bold;
    background-color:rgb(247, 243, 10);
    border-radius: 15px;
    }

.drink-display {
    width: 70%;
    height: fit-content;
    border: 1px solid rgb(7, 0, 0);
    /* display: inline-block; */
    text-align: left;
    margin: 10px;
    float:right;
    border-radius: 5px;
}

.recipe-display {
    width: 70%;
    height: fit-content;
    border: 1px solid rgb(7, 0, 0);
    display: none;
    text-align: left;
    margin: 10px;
    float:right;
    border-radius: 5px;
}

.header2 {
    text-align: left;
    background-color:rgb(240, 164, 114);
    color: black;
    border-radius: 30px;
    margin: 10px;
    border: 1px solid rgb(7, 0, 0);
    justify-content: center;
    align-items:center;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}

.header3 {
    text-align: left;
    background-color:wheat;
    color: rgb(4, 11, 105);
    border-radius: 5px;
    margin: 10px;
    margin-left: 35px;
    border: 1px solid rgb(7, 0, 0);
    justify-content: center;
    align-items:center;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
}

.header3uv {
    text-align: left;
    background-color:rgb(199, 94, 24);
    color: rgb(4, 11, 105);
    border-radius: 5px;
    margin: 10px;
    margin-left: 35px;
    border: 1px solid rgb(7, 0, 0);
    justify-content: center;
    align-items:center;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
}

.box {
    text-align: center;
    background-color: wheat;
    color: rgb(10, 20, 168);
    border-radius: 15px;
    margin: 10px;
    margin-left: 35px;
    border: 1px solid rgb(7, 0, 0);
    justify-content: center;
    align-items:center;
    width: 15%;
    height: 200px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    font-weight: bold;
    font-size: large;
  }

h5 {
    font-size: large;
    text-align: left;
    font-weight: bold;
}

  img {
    border-radius: 35px;
    width: 100px; 
    height: 100px; 

  }

  .nav-wrapper {
    border-bottom: 3px solid darkslategray !important;
  }
  
  .brand-logo {
    font-size: 2.5rem !important;
  }
  
  .nav-item {
    margin-right: 2vw !important;
    padding: -1% 0 !important;
    font-size: 18px !important;
    box-shadow: none !important;
  }
  
  body {
    background-color: powderblue !important;
  }
  
  .collection {
    border: hidden !important;
    padding: 0 !important;
    margin-left: 2% !important;
  }
  
  .input-field {
    margin: 1vw !important;
    align-content: center !important;
    height: auto !important;
    }
  
  .materialize-textarea {
    background-color: white !important;
    margin-top: 3% !important;
  }
  
  h5 {
    display: flex !important;
    flex-wrap: column !important;
    margin: 2vh 2vw !important;
  }
  
  .ingredient-text {
    align-content: center !important;
  }
  
  .searchdisplay {
    margin-right: 10vw !important;
  }
  
  .collection-header {
    border: solid black !important;
    border-radius: 3rem !important;
    margin-bottom: 2vh !important;
  }
  
  
  .collection-item {
      margin-top: 1vh !important;
      box-shadow: none !important;
      border: 2px solid darkslategray !important;
      border-radius: 3rem !important;
    }
  
  .collection-item:hover {
    background-color: rgb(19, 226, 140) !important;
  }
  
  
  .footer-wrapper {
    border-top: 3px solid darkslategray !important;
    margin-bottom: 0px !important;
    position: sticky !important;
    height: 35px !important;
    font-size: 25px !important;
    font-weight: bold !important;
    padding: 4vh  !important;
  }